.Message{
    display: block;
    background-color: beige;
    margin: 10px auto;
    box-shadow: 0 5px 15px -5px rgb(0,0,0);
    padding: 10px 20px;
    border-radius: 5px;
    clear:both;

    &.me{
        color: rgb(255,0,255);
        float: right;
        background-color: rebeccapurple;
    }
}